<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStudentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStudentServlet</servlet-name>
        <url-pattern>/FindStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <url-pattern>/RemoveStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/EditStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStudentsServlet</servlet-name>
        <url-pattern>/GetAllStudentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>TeacherConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>TeacherResources</web-resource-name>
            <description>Resources available to a teacher</description>
            <url-pattern>/addstudent.html</url-pattern>
            <url-pattern>/addstudent_outcome.jsp</url-pattern>
            <url-pattern>/editstudent.html</url-pattern>
            <url-pattern>/editstudent_outcome.jsp</url-pattern>
            <url-pattern>/findstudent.html</url-pattern>
            <url-pattern>/findstudent_outcome.jsp</url-pattern>
            <url-pattern>/getallstudents.html</url-pattern>
            <url-pattern>/getallstudents_outcome.jsp</url-pattern>
            <url-pattern>/removerstudent.html</url-pattern>
            <url-pattern>/removestudent_outcome.jsp</url-pattern>
            <url-pattern>/AddStudentServlet.do</url-pattern>
            <url-pattern>/EditStudentServlet.do</url-pattern>
            <url-pattern>/FindStudentServlet.do</url-pattern>
            <url-pattern>/GetAllStudentsServlet.do</url-pattern>
            <url-pattern>/RemoveStudentServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of the teacher</description>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>StudentConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>StudentResources</web-resource-name>
            <description>Resources available to a student</description>
            <url-pattern>/getallstudents.html</url-pattern>
            <url-pattern>/getallstudents_outcome.jsp</url-pattern>
            <url-pattern>/GetAllStudentsServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of student</description>
            <role-name>student</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginerror.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>A teacher can , add,remove,edit,find and view all students in a class</description>
        <role-name>teacher</role-name>
    </security-role>
    <security-role>
        <description>A student can view all the student in a class</description>
        <role-name>student</role-name>
    </security-role>
    <error-page>
        <error-code>403</error-code>
        <location>/userforbidden.jsp</location>
    </error-page>
</web-app>
